<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet">

    <!-- badge icon for image in tab window -->
    <link rel="shortcut icon" type="image/ico" th:href="@{/images/favicon.ico}"/>

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=WindSong&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <!-- bootstrap stylesheet -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>About Us</title>
</head>
<body class="blackBuriedBackdrop">
    <div class="pageWrap">
        <div>
            <img class="aboutUsLogo" th:src="@{/images/tee-rific.png}">
        </div>
        <div class="pageSpacer"></div>
        <div class="developersContainer blackPixelBackdrop">
            <div class="profile">
                <div class="developerPictureBorder aluminumBackdrop border-top border-end border-bottom border-start">
                    <img id="Chino" class="developerPicture border-top border-end border-bottom border-start" src="/images/Developers/Mike.jpg" alt="Chino">
                </div>
                <h6 class="developerNameText">Chino</h6>
                <h2 class="developerNameText faintGrey">Fernandez</h2>
            </div>
            <div class="profile">
                <div class="developerPictureBorder aluminumBackdrop border-top border-end border-bottom border-start">
                    <img id="Justin" class="developerPicture border-top border-end border-bottom border-start" src="/images/Developers/Justin.jpg" alt="Justin">
                </div>
                <h6 class="developerNameText">Justin</h6>
                <h2 class="developerNameText faintGrey">Yan</h2>
            </div>
            <div class="profile">
                <div class="developerPictureBorder aluminumBackdrop border-top border-end border-bottom border-start">
                    <img id="Kyle" class="developerPicture border-top border-end border-bottom border-start" src="/images/Developers/Kyle.jpg" alt="Kyle">
                </div>
                <h6 class="developerNameText">Kyle</h6>
                <h2 class="developerNameText faintGrey">Brandon</h2>
            </div>
            <div class="profile">
                <div class="developerPictureBorder aluminumBackdrop border-top border-end border-bottom border-start">
                    <img id="Mike" class="developerPicture border-top border-end border-bottom border-start" src="/images/Developers/Mike.jpg" alt="Mike">
                </div>
                <h6 class="developerNameText">Mike</h6>
                <h2 class="developerNameText faintGrey">Kreutz</h2>
            </div>
            <div class="profile">
                <div class="developerPictureBorder aluminumBackdrop border-top border-end border-bottom border-start">
                    <img id="Zach" class="developerPicture border-top border-end border-bottom border-start" src="/images/Developers/Mike.jpg" alt="Zach">
                </div>
                <h6 class="developerNameText">Zach</h6>
                <h2 class="developerNameText faintGrey">Syvenky</h2>
            </div>
        </div>
        <div class="pageSpacer"></div>
        <div class="processContainer">
            <h2 class="processTitle">What is Tee-rific?</h2>
            <p class="developerProcessParagraph faintGrey">
                Tee-rific is a golf management software designed to simplify and enhance both managing and visiting a golf course. Implementing an online,
                comprehensive golfing application creates a convenient way for golfers to prepare for their round. Golfers possess the ability to view available
                tee times and rentals, engage with interactive scorecards, track their golfing history, and participate in tournaments. Since Tee-rific is heavily
                dependent on mobile accessibility, we prioritized a mobile-friendly experience for golfers. On the course owner’s side, we tailored the software
                to be practical while still retaining the customizability of pen and paper. Golf course owners can relish in the simplicity and oversight of online
                booking, utilizing an interactive real-time tee sheet. Tee-rific also offers private, customer-provided feedback of their course, automatic tracking
                of rental stock, and an extensive course biography to attract customers.
            </p>
            <h2 class="processTitle">Our Process</h2>
            <p class="developerProcessParagraph faintGrey">
                We developed Tee-rific over six weeks, broken into three two-week iterations. To effectively gather requirements for Tee-rific, we visualized our
                software assisting throughout the entire golfing process. From assisting in course selection to tracking their score as they play to providing feedback
                after their round. Our team employed an agile environment, allowing more flexibility for taking on and completing work. As a result of Simon Fraser
                University campus closures due to ongoing COVID-19 restrictions, our development process was fully remote. To maintain communication and teamwork, we
                scheduled weekly Scrums every Tuesday and Thursday at 6:00 pm. We liaised about our recent progress, formulated plans to complete by the next meeting,
                and coordinated our efforts on time-consuming problems. Our testing process was in-depth and consisted of heavy cooperation between multiple team members.
                Upon completing a new feature, at least one fellow team member would test this feature for bugs. This technique minimized bugs and allowed for more than
                just the developer to understand how the code functions.
            </p>
            <h4 class="developerProcessParagraph faintGrey">Thank You For Your Continued Support!</h4>
            <img class="aboutUsLogo" th:src="@{/images/tee-rific.png}">
        </div>
        <div class="pageSpacer"></div>
        <div class="blackPixelBackdrop">
            <form method="get" th:action="${'/tee-rific/home/' + username}">
                <button id="aboutUsHomeButton" type="submit" class="button darkMeshBackdrop">Home</button>
            </form>
        </div>
        <footer>
            <div class= "darkMeshBackdrop footer">
                <i class="socialIcon fab fa-facebook-f" onclick="getFacebook()"></i>
                <form method= "get" th:action="@{/redirect/Facebook}" name = "facebookButton" id="facebookButton">
                    <button type="submit"></button>
                </form>
                <i class="socialIcon fab fa-twitter" onclick="getTwitter()"></i>
                <form method= "get" th:action="@{/redirect/Twitter}" name = "twitterButton" id="twitterButton">
                    <button type="submit"></button>
                </form>
                <i class="socialIcon fab fa-instagram" onclick="getInstagram()"></i>
                <form method= "get" th:action="@{/redirect/Instagram}" name = "instagramButton" id="instagramButton">
                    <button type="submit"></button>
                </form>
                <i class="socialIcon fas fa-envelope" onclick="getEmail()"></i>
                <a id = "emailAnchor" th:href="@{mailto:teerificbusiness@gmail.com}"></a>
                <p>© Copyright 2021 Tee-rific</p>
            </div>
            <script src="/js/buttonEffect.js" type="text/javascript"> </script>
            <script src="/js/aboutUs.js" type="text/javascript"></script>
            <script src="/js/socials.js" type="text/javascript"> </script>
        </footer>
    </div>
</body>
</html>