<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link th:href="@{/css/styles.css}" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Account Created</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/tee-rific.png}" width="150" height="100"/>
                <!-- Welcome to TEE-RIFIC "username"! -->
                <h2>Successful Delete</h2>

                <form method="get" action="/tee-rific/home/admin">
                    <button type="submit" class = "button">Go to the Home Page</button>
                </form>
            </div>
        </div>
     </div>
     <footer>
        <div class= "woodBackdrop footer">
            <i class="socialIcon fab fa-facebook-f" onclick="getFacebook()"></i>
            <form method= "get" th:action="@{/redirect/Facebook}" name = "facebookButton" id="facebookButton">
                <button type="submit"></button>
            </form>
            <i class="socialIcon fab fa-twitter" onclick="getTwitter()"></i>
            <form method= "get" th:action="@{/redirect/Twitter}" name = "twitterButton" id="twitterButton">
                <button type="submit"></button>
            </form>
            <i class="socialIcon fab fa-instagram" onclick="getInstagram()"></i>
            <form method= "get" th:action="@{/redirect/Instagram}" name = "instagramButton" id="instagramButton">
                <button type="submit"></button>
            </form>
            <i class="socialIcon fas fa-envelope" onclick="getEmail()"></i>
            <a id = "emailAnchor" th:href="@{mailto:teerificbusiness@gmail.com}"></a>
            <p>© Copyright 2021 Tee-rific</p>
          </div>
          <script src="/js/buttonEffect.js" type="text/javascript"> </script>
         <script src="/js/socials.js" type="text/javascript"> </script>
    </footer>
</body>
</html>