/* all CSS styles here */ 

/*******************/
/*     COLORS      */
/*******************/

.possibleColorScheme {
    color: #338507;
    color: #A3A847;
    color: #7F8B52;
    color: #EAE2B6;
}

.deepGreen {
    background-color: #338507;
}

.shrek {
    background-color: #A3A847;
}

.army {
    background-color: #7F8B52;
}

.sand {
    background-color: #EAE2B6;
}

.darkGrey {
    background-color: #333333
}


/********************/
/* ATTRIBUTE STYLES */
/********************/

body, html, button, input {
    /* cursor: url("data:image/x-icon;base64,AAACAAEAICAAAAAAAACoEAAAFgAAACgAAAAgAAAAQAAAAAEAIAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAdGhz/Gxga/z48PP9PTU3/XFpa/2NhYf9mZGT/PDo6/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAG1tbf9APz//UlFR/15cXP9qaGj/fXt6/4qIh/+Oi4v/l5SU/6ikpf+xrq7/uri3/8fFxv/n5eb/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALq6uvlwcHD/OTc3/0A+Pv9eXFz/fnx8/46MjP+WkpH/sa2s/7m0tf/HwsP/ysXG/8nFxP/g3Nv/3dvb/+Lg4P/i4uL/9vb2+gAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACPj4//tbOz/zw6Ov9UUlL/VFJS/1pYWP9TUVH/i4mJ/6yop/+8uLf/sq2u/66pqv/Tzc//zcnI/+Dc2//l4+P/4+Hh/+/t7P/w7u3/+ff2/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAzMrK/1JQUP9SUFD/TEpK/1FPT/9jYWH/XVtb/3Fvb/+EgoL/mZeW/768u/+3srP/trGy/9zX2P/Py8r/6+fm/+Xj4//r6en/8O7u//Lw8P/z8fH/+vj4/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAJmXl//f3d3/T01N/1ZUVP9vbW3/aGZm/2lnZ/90cnL/k5GR/4OBgf99e3r/ube2/765uv/Cvb7/4t3e/9XR0P/X09L/7evr/+3r6//z8fH/8e/v//j29v/49vb/+ff3/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADv7e3/1tTU/1dVVf9ZV1f/amho/2xqav9eXFz/gX9//3p4eP+Vk5P/kI6O/5mXl//Qzs3/x8PC/725uP/a1tX/5OLh/+Xj4v/w7u7/7uzs/+3r6//29PT/9vT0//f19f/6+Pj/+/n5/wAAAAAAAAAAAAAAAAAAAAAAAAAA5ePj+FVTU/9YVlb/ZWNj/3Z0dP96eHj/dnR0/42Li/+HhYX/goCA/5mXl/+rqan/qaen/9PR0P/V0dD/ysbF//Tw7//p5+b/4uDf//Lw8P/x7+//8e/v//b09P/08vL/+Pb2//n39//7+fn//v7+8wAAAAAAAAAAAAAAAAAAAACtq6v/8O7u/1xaWv9ta2v/dXNz/3Z0dP+CgID/kY+P/5COjv+HhYX/wb+//7q4uP+vra3/trSz/+nl5P/a1tX/7uno/+/t7P/m5OP/9PLy//Ty8v/x7+//+Pb2//b09P/39fX/9/X1//r4+P/4+Pj/AAAAAAAAAAAAAAAA3tzc/3Fvb/9mZGT/a2lp/358fP9+fHz/kY+P/5COjv+Rj4//p6Wl/6Ohof+sqqr/wb+//7m3t//f3d3/6ubl/9zY1//W0dD/7+3s/+/t7P/29PT/9vT0//Xz8//18/P/9/X1//f19f/59/f/+ff3//r4+P//////AAAAAAAAAADk4uL/WFZW/3h2dv9ycHD/gH5+/4yKiv+UkpL/lJKS/5aUlP+wrq7/q6mp/6impv/Pzc3/wsDA/8C+vv/q5uX/5eHg/9/b2v/z8fD/8e/u/+7s7P/29PT/9vT0//f19f/29PT/9fPz//n39//59/f/+vj4//r6+v8AAAAAAAAAAOHf3/9iYGD/ZmRk/3Vzc/+EgoL/k5GR/5eVlf+Vk5P/oZ+f/7Oxsf+wrq7/ube3/9TS0f/GxMP/xMLB/+Hc3f/m4eL/6OPj//Ty8f/y8O//8e/v//Xz8//08vL/9vT0//f19f/18/P/+ff3//j29v/7+fn/+/n5/wAAAADy8PD/8O7u/4B+fv9xb2//fXt7/5COjv+enJz/oqCg/6mnp/+mpKT/qKam/7m3t/+1s7P/1dPS/8/NzP/Lycj/8e/v/+Xj4//i4OD/7uzr//Px8P/z8fH/9vT0//Ty8v/x7+//+Pb2//f19f/49vb/+ff3//r4+P/59/f///7+/6mnp//EwsL/cnBw/4KAgP+gnp7/mZeX/5+dnf+ZoJz/pqem/6eopf+/ub//tri6/7a0sP/Gwb3/1NLR/9fV1P8zNTH/MDQz/+Dp4v/18vT/7unv/+jq6v/18vn/8/j0//Lv8P/28vP/8/Hx//f19f/29PT/+ff3//r4+P/8+vr/2tjY/2xqav9wbm7/g4GB/52bm/+joaH/oqCg/7Kfov+fpaL/t66w/9DEvf/Yt8P/vL/A/+7d4//X1dT/zszL/+/k3f/n7u//7/Lm/wJGB/++0dT/8+30///5/P8uQDT/9/P0//b09P/08vL/9/X1//f19f/49vb/+Pb2//v5+f/Pzc3/t7W1/6KgoP+TkZH/mpiY/7Oxsf+sqqr/o6qt/w0kDP+wpKb/C0wX/wBSJf8UJwv/KUQ8/9/d3P/b2dj/4ePh/+Xw6/8ALgb/F34y/wg3Df8SLgv/ATgG/xczJP/y7u7/9fb0//b09P/39fX/+ff3//r4+P/49vb/+/n5/8LAwP/Bv7//nZub/7+9vf+1s7L/xMLB/8vJyP9vfWf/saqw/wgxE/+1qKX/ED8p/xU0G/9kaWP/t72z/6ywqP/97uz/7ebo/1JbWP9QR0n/B1st/x46K/91cWv/Fj0m//jx9P/27vH/9PLy//Xz8//08vL/+ff3//n39//59/f/09HR/9vZ2f+hn5//ube3/7a0s/+3tbT/xMLB/wk1EP8ThTj/B443/xUhEv/PxdH/zMPD/8jJxf/g49v/3dvS/+vp4v/z7OL/8ujq/+XV2v+yrq//hoN+/0tPSP/17+z/8e/w///7///z8fH/9vT0//b09P/49vb/+ff3//r4+P/W0dL/z8rL/725uP/Oysn/1tLR/7aysf/AvLv/w8HA/8zKyf/U0tH/xMHB/9XS0f/Qzs3/3NrZ/+Lg3//a2Nf/6trh/wAFzP8BA/D/Ky8+//Dq7//r6en/8O7u/+7s7P/w7u7/8/Hx//Px8f/29PT/9fPz//j29v/39/f/9vb2/8/Ky//NyMn/0s7N/83JyP/a1tX/1tLR/9/b2v/Avr3/xcPC/83Lyv/V09L/2NbV/87My//W1NP/3NrZ/9nX1v/g3Nf/1ufb/+3l7//U3Ob/6unl/+ro6P/x7+//7+3t/+7s7P/y8PD/+vj4//b09P/29PT/+Pb2//b29v/7+/v/AAAAANHMzf/Tz87/zcnI/9PPzv/U0M//19PS/9jW1f/Ny8r/zcvK/8zKyf/Lycj/zszL/9vZ2P/V09L/2NbV/9zi1f/p4OP/293p/93a3P/u7er/7uzs/+nn5//x7+//9PLy//Lw8P/29PT/9/X1//b09P/49vb/9vX1/wAAAAAAAAAA3drZ/93Z2P/e2tn/2dbV/9XT0v/Mysn/0c/O/9PR0P/b2dj/ysjH/83Lyv/W1NP/1NLR/9DOzf/S0M//39va/+bi4f/l4N//5OLh/+/t7P/s6ur/6efn//Ty8v/y8PD/8O7u//f19f/29PT/9/X1//n39//39/f/AAAAAAAAAADY1tX/2NTT/9vX1v/T0dD/2dfW/8/NzP/OzMv/zcvK/9LQz//U0tH/zszL/9DOzf/S0M//zszL/+Lg3//m4uH/4Nzb/+nl5P/w7u3/6+no/+zq6v/t6+v/9fPz//Lw8P/29PT/9vT0//f19f/49vb/+Pb2//n5+f8AAAAAAAAAAAAAAADf3dz/1NLR/9za2f/Rz87/5OLh/+nl5P/Oysn/ysjH/9HPzv/e3Nv/6efm/9rY1//c2Nf/4d3c/97c2//W1NP/7uzr/+zq6v/q6Oj/8e/v//v5+f/08vL/9fPz//b09P/29PT/+ff3//f39//39/f/AAAAAAAAAAAAAAAAAAAAAOjm5fjo5uX/5OLh/+fl5P/a2Nf/39va/+Hd3P/a2Nf/2tjX/+Ph4P/h397/4d/e/+Le3f/y7u3/7+3s/+jm5f/s6un/6Obm/+jm5v/18/P/9PLy//Px8f/39fX/9fPz//n39//59/f/+Pj4//n5+fIAAAAAAAAAAAAAAAAAAAAAAAAAAOLg4P/h397/393c/+Xj4v/W09L/29jY//j29v/7+fj/3NrZ/9jW1f/X1dX/7+zr/+3q6v/q6Oj/6efm//Px8f/+/Pz/8vDw//Px8f/z8fH/9fPz//n39//6+Pj/+vj4//n39//5+fn/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOzq6f/r6ej/+/n4//Du7v/49vb/5OLi/+fl5f/x7+//9vT0/+/t7f/u7Oz/6Obm/+Lg4P/v7e3/9PLy//Lw8P/y8PD//Pr6//79/f/6+Pj/+ff3//78/P/7+fn/+vj4/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOvp6P/r6ej/+Pb2/+vp6f/18/P/4+Hh/+7s7P/x7+//+vj4//Ty8v/+/Pz///////b09P/w7u7/7+3t//78/P///f3//fv7//j29v/49vb/+vj4//r4+P8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAO3r6//08vL/8vDw//37+//9+/v/8/Hx/+3r6v/o5uX/9/X1//j29v/39fX/+Pb2//79/f///f3//vz8//b09P/7+fn/+/n5//v5+f/6+Pj/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPPx8fny8PD/8/Hx//r4+P/49/f//f39//j4+P/08vL//vz8///+/v/9/Pz//vz8//z6+v/7+fn/+vj4//r4+P/7+fn//Pr61AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADz8fH/9/X1//b09P/39/f//f39//z8/P/8/Pz//f39///////9/v7/+fn5//7+/v/7+fn/+/n5/wAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPT09P/29vb/+Pj4//f39//29vb/9vb2//j4+P/5+fn/AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA//AP//+AAf/+AAB//AAAP/gAAB/wAAAP4AAAB8AAAAPAAAADgAAAAYAAAAGAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAABgAAAAYAAAAHAAAADwAAAA+AAAAfwAAAP+AAAH/wAAD/+AAB//4AB///wD/8="), auto; */
    /* cursor: url("https://img.icons8.com/ios/50/000000/spinning-circle--v2.png"), auto; */
    cursor: url("https://img.icons8.com/ultraviolet/40/000000/circled.png"), auto;
}

body {
    margin: 0 auto 0 auto;
}

img {
    width: 90%;
}

div {
    padding: 2%;
    text-align: center;
}

table, th, td {
    border: 1px solid black;

    padding-left: 5px;
    padding-right: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

table input {
    width: 50%;
}

/*******************/
/* ID (SINGLE USE) */
/*******************/

#bookingButton {
    background-image: url("https://media1.tenor.com/images/28e4763cc7ec7086b39811ad1498fbbe/tenor.gif?itemid=10431490");
    background-size: cover;
    
}

#coursesButton {
    background-image: url("https://media4.giphy.com/media/oG7wbC1NIZG3GoNWDT/giphy.gif?cid=ecf05e47csj54q2nn9xl02xnkcfgd17hwnfxzeftq1zx27c0&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#scorecardButton {
    background-image: url("https://media1.tenor.com/images/4850d3ffcf8395d86714b4a3da2220f1/tenor.gif?itemid=20197502");
    background-size: cover;
    
}

#tournamentsButton {
    background-image: url("https://media2.giphy.com/media/jTets0vpDgw6571cM4/giphy.gif?cid=ecf05e47435ne4l2l6mjm8z4n2uxd6h7ovinxliisk9qgrec&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#accountButton {
    background-image: url("https://media0.giphy.com/media/l3YSfhmQKPmGYiw6s/giphy.gif?cid=ecf05e47g0ssp4ql6sjx91qlsv2ikc4sz46s2pzm7x5mnx96&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#aboutUsButton {
    background-image: url("https://media0.giphy.com/media/l7MYeAs3wxKgUVTFeV/giphy.gif?cid=790b76113b8573b07e5361f58dca6033ff491e3707f97f07&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#logOutButton {
    background-image: url("https://media1.giphy.com/media/lkjgqBFSE7ees/giphy.gif?cid=ecf05e47id3tkn4u9rq41kgw6rl5mcvvv9h6rdihjb32qqkp&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#editCourseButton {
    background-image: url("https://media4.giphy.com/media/cjVSmqbIn6gwXXoVlI/giphy.gif?cid=790b7611dd6fb6cce7b057f6bc016a8c092f2f8f5b5e7c00&rid=giphy.gif&ct=g");
    background-size: cover;
}

#editOwnerButton {
    background-image: url("https://media4.giphy.com/media/l2Je43vWtWb3aGX9S/giphy.gif?cid=ecf05e470aqr6js7ia5n7mto7fduh9bpyia69vjrb6hai0bk&rid=giphy.gif&ct=g");
    background-size: cover;
}

#logoutOwnerButton {
    background-image: url("https://media1.giphy.com/media/3o6Mb2V24MJTQMTwyY/giphy.gif?cid=790b7611ee854f6f00c2f12f06dba7863ba7441287f825fc&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminUsersButton {
    background-image: url("https://media3.giphy.com/media/xT5LMAdfzp0iSqyGFq/giphy.gif?cid=790b7611c1468ff98a13b681c45ecad598436243a12fa565&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminOwnersCoursesButton {
    background-image: url("https://media3.giphy.com/media/3orifdiiMp00Qu1lm0/giphy.gif?cid=790b7611010fce4d6a6717c5033d35a298dddbcb377bb4f4&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminTournamentsButton {
    background-image: url("https://media1.giphy.com/media/ZP14lPlhETHos/giphy.gif?cid=790b761108a8112537dafaf28bab873d06a6187711b33a3b&rid=giphy.gif&ct=g");
    background-size: cover;
}

#logoutAdminButton {
    background-image: url("https://media1.giphy.com/media/l2JdZKub444p8isw0/giphy.gif?cid=790b76110c1b984b92f8d0c8aa3279b1e87387c98ce174fc&rid=giphy.gif&ct=g");
    background-size: cover;
}

#ownerErrorMessage {
    display: none;
    color: red;
    font-weight: bold;
}



/**************************/
/* CLASSES (MULTIPLE USE) */
/**************************/



.ownerTable {
    width: 80%;
}

.ownerTableCell{
    width: 25%;
}

.ownerTableDisplayCell{
    width: 100%;
}

.ownerTableInputCell{
    width: 90%;
    display: none;
    border-radius: 10%;
}

/* source: https://dev.to/akshay_rajput/keep-footer-at-bottom-of-page-using-flexbox-4a6f */
.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}

/* source: https://dev.to/akshay_rajput/keep-footer-at-bottom-of-page-using-flexbox-4a6f */
.content {
    flex-grow: 1;
    padding: 0px;
}

.footer {
    bottom: 0px;
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #EAE2B6;
    text-align: center;
    font-family: "Ubuntu";
    font-weight: bold;
    border-top: 1px solid #EAE2B6;
}

.inputBox {
    border-radius: 7px;
    margin-bottom: 15px;
    width: clamp(110px, 50%, 50%);
}

.spacer {
    margin: 50px;
}

.titleFont {
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    font-size: 7vh;
}


.button {   
    border-radius: 7px;
    color: #EAE2B6;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    font-size: 3vh;
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    padding: 4px;
    margin: 5px;
    width: clamp(110px, 50%, 50%);
}

/* creates the mouse hover effect */
.button:hover {
    background-color: #3ed60b;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
    color: yellow;
    border-color: yellow;

}

.border{      
    padding: 30px 8px;
    width: clamp(250px, 90%, 500px);
    margin-left: auto ;
    margin-top: 5vh;
    margin-right: auto;
    margin-bottom: 5vh;
    border-radius: 15px;
}

.woodBackdrop {
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

}

.grassBackdrop {
    background-color: #3ed60b;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}

.sandBackdrop {
    background-color: #eae2b6;
    background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png");
}

.socialIcon {
    margin: 20px 10px;
}

.homePageContainer {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 0px;
}

.homePageButtonBorder {
    display: inline-block;
    width: clamp(180px, 75vw, 300px);
    height: clamp(180px, 75vw, 300px);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: clamp(0px, 7px, 15px);
    margin-right: clamp(0px, 7px, 15px);
    border: 1px solid #EAE2B6;
}

.homePageButton {
    width: 95%;
    height: 95%;
    border-radius: 15px;
    margin: 2.5%;
    /* font-family: 'Teko', sans-serif; */
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #EAE2B6;
    -webkit-text-stroke: 2px black;
}


.logo {
    height: auto;
    width: auto;
    max-width: 180px;
    max-height: 100px;
}

.logoContainer {
    margin: auto;
    height: auto;
    width: auto;
    max-width: 750px;
    max-height: 750px;
}

 
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 5px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 500;
  }

  .navbar {
      border-bottom: 1px solid #EAE2B6;
  }

.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}