/* all CSS styles here */ 

/*******************/
/*     COLORS      */
/*******************/

.possibleColorScheme {
    color: #338507;
    color: #A3A847;
    color: #7F8B52;
    color: #EAE2B6;
}

.deepGreen {
    background-color: #338507;
}

.shrek {
    background-color: #A3A847;
}

.army {
    background-color: #7F8B52;
}

.sand {
    background-color: #EAE2B6;
}

.darkGrey {
    background-color: #333333
}

.darkGreyFont {
    color: #333333;
}


/********************/
/* ATTRIBUTE STYLES */
/********************/

body, html, button, input, a, li, select, option {
    cursor: url("https://img.icons8.com/ultraviolet/40/000000/circled.png") 20 20, auto;
}

body {
    margin: 0 auto 0 auto;
}

img {
    width: 90%;
}

div {
    padding: 2%;
    text-align: center;
}


table, th, td {
    border: 2.5px solid #5e3e07;
}


th {
    background-color: #F0EDC1;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    font-weight: bold;
}

.bookingHeader {
    width: 30%;
    padding: 2%;
}

.bookingCell {
    width: 70%;
    padding: 2%;
}



.pageDivider {
    height: 3px;
    padding: 0px;
    border-radius: 25%;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*******************/
/* ID (SINGLE USE) */
/*******************/

#bookingButton {
    background-image: url("https://media1.tenor.com/images/28e4763cc7ec7086b39811ad1498fbbe/tenor.gif?itemid=10431490");
    background-size: cover;
    
}

#coursesButton {
    background-image: url("https://media4.giphy.com/media/oG7wbC1NIZG3GoNWDT/giphy.gif?cid=ecf05e47csj54q2nn9xl02xnkcfgd17hwnfxzeftq1zx27c0&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#scorecardButton {
    background-image: url("https://media1.tenor.com/images/4850d3ffcf8395d86714b4a3da2220f1/tenor.gif?itemid=20197502");
    background-size: cover;
    
}

#tournamentsButton {
    background-image: url("https://media2.giphy.com/media/jTets0vpDgw6571cM4/giphy.gif?cid=ecf05e47435ne4l2l6mjm8z4n2uxd6h7ovinxliisk9qgrec&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#accountButton {
    background-image: url("https://media0.giphy.com/media/l3YSfhmQKPmGYiw6s/giphy.gif?cid=ecf05e47g0ssp4ql6sjx91qlsv2ikc4sz46s2pzm7x5mnx96&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#aboutUsButton {
    background-image: url("https://media0.giphy.com/media/l7MYeAs3wxKgUVTFeV/giphy.gif?cid=790b76113b8573b07e5361f58dca6033ff491e3707f97f07&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#logOutButton {
    background-image: url("https://media1.giphy.com/media/lkjgqBFSE7ees/giphy.gif?cid=ecf05e47id3tkn4u9rq41kgw6rl5mcvvv9h6rdihjb32qqkp&rid=giphy.gif&ct=g");
    background-size: cover;
    
}

#editCourseButton {
    background-image: url("https://media4.giphy.com/media/cjVSmqbIn6gwXXoVlI/giphy.gif?cid=790b7611dd6fb6cce7b057f6bc016a8c092f2f8f5b5e7c00&rid=giphy.gif&ct=g");
    background-size: cover;
}

#editSchedule {
    background-image: url("https://media3.giphy.com/media/uO6zp1QekCPhFUj2of/giphy.gif?cid=ecf05e47793x140zin48j0tszz16666jn71effscrpm2e2ud&rid=giphy.gif&ct=g");
    background-size: cover;
}

#editOwnerButton {
    background-image: url("https://media4.giphy.com/media/l2Je43vWtWb3aGX9S/giphy.gif?cid=ecf05e470aqr6js7ia5n7mto7fduh9bpyia69vjrb6hai0bk&rid=giphy.gif&ct=g");
    background-size: cover;
}

#logoutOwnerButton {
    background-image: url("https://media1.giphy.com/media/3o6Mb2V24MJTQMTwyY/giphy.gif?cid=790b7611ee854f6f00c2f12f06dba7863ba7441287f825fc&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminUsersButton {
    background-image: url("https://media3.giphy.com/media/xT5LMAdfzp0iSqyGFq/giphy.gif?cid=790b7611c1468ff98a13b681c45ecad598436243a12fa565&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminOwnersCoursesButton {
    background-image: url("https://media3.giphy.com/media/3orifdiiMp00Qu1lm0/giphy.gif?cid=790b7611010fce4d6a6717c5033d35a298dddbcb377bb4f4&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminTournamentsButton {
    background-image: url("https://media1.giphy.com/media/ZP14lPlhETHos/giphy.gif?cid=790b761108a8112537dafaf28bab873d06a6187711b33a3b&rid=giphy.gif&ct=g");
    background-size: cover;
}

#feedbackOwnerButton {
    background-image: url("https://media1.giphy.com/media/J33nEazsOU9yO4oDni/giphy.gif?cid=ecf05e47ra7019n2n9nsto16j1thj3suxo59zk4vgyo1irlt&rid=giphy.gif&ct=g");
    background-size: cover;
}

#adminBookingRentalsButton {
    background-image: url("https://i.giphy.com/media/6K32TjntJ3dFNhQHgI/giphy.webp");
    background-size: cover;
}

#logoutAdminButton {
    background-image: url("https://media1.giphy.com/media/l2JdZKub444p8isw0/giphy.gif?cid=790b76110c1b984b92f8d0c8aa3279b1e87387c98ce174fc&rid=giphy.gif&ct=g");
    background-size: cover;
}

#completeGame {
    display: none;
    margin: 30px;
}

#nukeButton {
    height: 100px;
    width: 100px;
    position: relative;
    bottom: 20px;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/072fa096-b852-4161-ae5d-8f42f037c051/d3j18qt-a114f4ca-2263-4413-8553-a0b283d6f232.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzA3MmZhMDk2LWI4NTItNDE2MS1hZTVkLThmNDJmMDM3YzA1MVwvZDNqMThxdC1hMTE0ZjRjYS0yMjYzLTQ0MTMtODU1My1hMGIyODNkNmYyMzIuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.8KDAfYu6uAdbwJirM1LteNtnELRHSTQpy2uIa1QUnFU");
    background-size: cover;
    border-radius: 100%;
}

#nukeButton:hover {
    border: 3px solid #A21010;
}

#countdown {
    display: none;
    position: fixed;
    font-size: 50vh;
    width: 100vw;
    font-weight: bold;
    background-color: yellow;
    background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-repeat: repeat;
}

#aboutUsContent {
    width: 50%;
    text-align: center;
}

.nukeBackdrop {
    background-image: url("https://c.wallhere.com/photos/91/e3/background_tapes_radiation_hazard_wall-734011.jpg!d");
    background-size: cover;
}

#underline {
    text-decoration: underline;
    font-style: italic;
}

/**************************/
/* CLASSES (MULTIPLE USE) */
/**************************/

.bookingTable {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.bookingHeader {
    min-width: 60px;
    padding: 2%;
}

.bookingCell {

}

.bookingField {
    max-width: 80%;
    margin: 0px;
}

.link {
    text-decoration: underline;
}

.link:hover {
    background-color: #338507;
    background-image: none;
}

.courseDetailsContainer {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;;
}

.bannerText {
    color: #eae2b6;
    font-family: 'Indie Flower', cursive;
}

.carousel-inner {
    margin: 0px;
    padding: 0px;
}


.instruction {
    padding: 20px;
}

.errorMessage {
    display: none;
    color: red;
    font-weight: bold;
}

.biggerFont {
    font-size: 2.5rem;
}

.ownerTable {
    width: 80%;
}

.ownerTableCell{
    width: 25%;
}

.ownerTableDisplayCell, .scoredcardDisplayCell {
    width: 100%;
}

.ownerTableInputCell, .scorecardTableInputCell {
    width: 90%;
    display: none;
    border-radius: 10%;
}

.scorecardTable {
    width: 90%;
    margin-top: 15px;
    margin-bottom: 25px;
}

.friendScorecardTable {
    width: 45%;
}

.friendsNameCell {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scorecardTableCell, .friendScorecardTableCell {
    width: 15%;
}

.friendScorecard {
    width: 100%;
}


/* source: https://dev.to/akshay_rajput/keep-footer-at-bottom-of-page-using-flexbox-4a6f */
.pageWrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 0px;
}

/* source: https://dev.to/akshay_rajput/keep-footer-at-bottom-of-page-using-flexbox-4a6f */
.content {
    flex-grow: 1;
    padding: 0px;
}

.footer {
    bottom: 0px;
    width: 100%;
    min-width: 250px;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #EAE2B6;
    text-align: center;
    font-family: "Ubuntu";
    font-weight: bold;
    border-top: 1px solid #EAE2B6;
}

.inputBox {
    border-radius: 7px;
    margin-bottom: 15px;
    width: clamp(110px, 50%, 50%);
}

.spacer {
    margin: 50px;
}

.titleFont {
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px;
    font-size: 7vh;
}


.button {   
    border-radius: 7px;
    color: #EAE2B6;
    font-family: 'Akaya Kanadaka', cursive;
    font-weight: bold;
    font-size: 3vh;
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    padding: 4px;
    margin: 5px;
    width: clamp(110px, 50%, 20vw);
}

/* creates the mouse hover effect */
.button:hover {
    background-color: #3ed60b;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
    color: yellow;
    border-color: yellow;

}

.border{      
    padding: 30px 8px;
    width: clamp(250px, 90%, 500px);
    margin-left: auto ;
    margin-top: 5vh;
    margin-right: auto;
    margin-bottom: 5vh;
    border-radius: 15px;
}

.expandedBorder {
    padding: 30px 8px;
    width: clamp(250px, 70%, 90%);
    margin-left: auto ;
    margin-top: 5vh;
    margin-right: auto;
    margin-bottom: 5vh;
    border-radius: 15px;
}


.woodBackdrop {
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

}

.grassBackdrop {
    background-color: #3ed60b;
    background-image: url("https://www.transparenttextures.com/patterns/football-no-lines.png");
}

.sandBackdrop {
    /* background-color: #eae2b6; */
    /* background-image: url("https://www.transparenttextures.com/patterns/grey-sandbag.png"); */
    background-color: #faf0c0;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

.bannerBackdrop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/snow.png");
    border-top: 1px solid #EAE2B6;
    border-bottom: 1px solid #EAE2B6; 
}

.blackPixelBackdrop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/3px-tile.png");
}

.darkMeshBackdrop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.aluminumBackdrop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
}

.blackBuriedBackdrop {
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/buried.png");
}

.darkBlueAsfaltBackdrop {
    background-color: #3d5963;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

.lightBlueAsfaltBackdrop{
    background-color: #718b9c;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png")
}

.blueIvoryBackdrop {
    background-color: #0a1a36;
    background-image: url("https://www.transparenttextures.com/patterns/xv.png");
}


.socialIcon {
    margin: 20px 10px;
}

.homePageContainer {
    margin: auto;
    text-align: center;
    width: 80%;
    padding: 0px;
}

.homePageButtonBorder {
    display: inline-block;
    width: clamp(180px, 75vw, 300px);
    height: clamp(180px, 75vw, 300px);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: clamp(0px, 7px, 15px);
    margin-right: clamp(0px, 7px, 15px);
    border: 1px solid #EAE2B6;
}

.homePageButton {
    width: 95%;
    height: 95%;
    border-radius: 15px;
    margin: 2.5%;
    font-family: 'Oswald', sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #EAE2B6;
    -webkit-text-stroke: 2px black;
}

.oswaldFont{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
}

.poppinsFont{
    font-family: 'Poppins', sans-serif;
}

.overflowWrapFont {
    overflow-wrap: anywhere;
}

.overflowHideFont {
    overflow: hidden;
    text-overflow: ellipsis;
}

.brownFont {
    background-color: #5e3e07;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo {
    height: auto;
    width: auto;
    max-width: 180px;
    max-height: 100px;
}

.logoContainer {
    margin: auto;
    height: auto;
    width: auto;
    max-width: 550px;
    max-height: 550px;
}

 
  .navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.0rem;
    font-weight: bold;
  }
  
  .nav-item {
    padding: 0 5px;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
    font-weight: 500;
  }

  .navbar {
      border-bottom: 1px solid #EAE2B6;
  }

.rating {
    float:left;
    width:300px;
}
.rating span { float:right; position:relative; }
.rating span input {
    position:absolute;
    top:0px;
    left:0px;
    opacity:0;
}
.rating span label {
    display:inline-block;
    width:30px;
    height:30px;
    text-align:center;
    color:#FFF;
    background:#ccc;
    font-size:30px;
    margin-right:2px;
    line-height:30px;
    border-radius:50%;
    -webkit-border-radius:50%;
}
.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
    background:#F90;
    color:#FFF;
}

.scorecardButtonContainer {
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 25px;
}

.scorecardButton {
    padding: 0px;
}

.userScorecardContainer {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.courseScorecardLogo {
    width: 25vh;
    height: 25vh;
    border-radius: 100%;
    border: 4px outset #5e3e07;
    background-size: cover;
    margin: 25px;
}

.coursesLogo {
    width: clamp(100px, 30vh, 20vw);
    height: clamp(100px, 30vh, 20vw);
    border-radius: 100%;
    border: 4px outset #5e3e07;
    background-size: cover;
    margin: 25px;
}

.fillScreen {
    width: 80vw;
}

.developersContainer {
    float: right;
}

.profile {
    display: inline-block;
}

.developerPicture {
    width: 20vh;
    height: 20vh;
    margin: 0px;
    border-radius: 100%;
    background-size: cover;
}



.developerPictureBorder {
    width: 22vh;
    height: 22vh;
    border-radius: 100%;
    background-size: cover;
    margin: 25px;
    padding: 1vh;
}



.developerProcessParagraph {
    color: white;
    font-family: 'Roboto Slab', serif;
    padding-top: 30px;
    padding-bottom: 30px;
}

#aboutUsHomeButton {
    width: 20%;
}

.processTitle {
    padding: 5px;
    font-family: 'Cinzel', serif;
    color: #AFABAB;
}


.processContainer {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 20%;
    padding-right: 20%;
}


.developerNameText {
    color: white;
    font-family: 'Russo One', sans-serif;
    padding: 0px;
    margin: 1px;
}

.faintGrey{
    color: #AFABAB;
}

.aboutUsLogo {
    width: 25%;
}

.pageSpacer {
    margin: 0px;
    padding: 2px;
    width: 100%;
    background-color: #000000;
    background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
}

.courseBioWrapper, .courseLogoWrapper {
    width: 40%;
    padding: auto;
    vertical-align: middle;
}

.row {
    align-items: center;
}

.maxWidth {
    width: 100%;
}

.courseBioWrapper {
    align-items: center;
    vertical-align: middle;
}

.courseLink {
    margin: 5px;
}



.listOfCoursesLogo {
    background-size: cover;
    max-height: 80%;
}

#selected_forecast {
    margin: 30px;
    border-top: 2px solid #AFABAB;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
}

  .weather-container  {
    text-align: center;
  }

  .chooseDate, .chooseTime {
      margin: 10px;
  }

  .weather{
    font-size: 22px;
    margin: 0;
  }

  .apiWrapper {
    border-radius: 1%;
    border: 2px solid #5e3e07;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    width: 100%;
  }

  @media (max-width: 1000px){
      .apiWrapper{
        margin-top: 50px;
        margin-bottom: 50px;
      }
    }

  .temp{
      font-size: 40;
      margin: 0;
      font-weight: bold;
  }


  .courseInfoWrapper {
      width: 100%;
      padding: 0px;
  }

  
  @media (min-width: 1000px){
    .firstSectionContainer, .secondSectionContainer{
        vertical-align: top;
        display: inline-block;
        width: 40%;
        margin-left: 20px;
        margin-right: 20px;
    }
  }

  .firstSectionContainer, .secondSectionContainer {
      padding: 0px;
  }

  .iconContainer {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      height: 200px;
      padding-top: 50px;
      margin-bottom: 50px;
  }

  .sunnyContainer {
      width: 100%;
      padding: 5px;
      margin: auto;
  }

  .cloudyContainer, .rainyContainer, .stormyContainer, .snowyContainer {
    width: 120px;
    padding: 5px;
    margin: auto;
  }
  
    /*********************/
    /* WEATHER API ICONS */
    /*********************/

    /* sun animation source: https://blog.avada.io/css/weather-icons/#css-weather-icons-benjamin-grant */
    
	.sunny {
        position: static;
        width: clamp(20px, 7vw, 12vw);
        height: clamp(20px, 7vw, 12vw);
        margin: auto;
        background: #ffc107;
        border-radius: 50%;
        border: solid 8px #ffee58;
        -webkit-animation-name: sunEffect;
        -moz-animation-name: sunEffect;
        -o-animation-name: sunEffect;
        animation-name: sunEffect;
        -webkit-animation: sunEffect 2s infinite;
        animation: sunEffect 2s infinite;
    }

    /* sun animation source: https://blog.avada.io/css/weather-icons/#css-weather-icons-benjamin-grant */
    @-webkit-keyframes sunEffect {
        0% {
          -webkit-transform: scale(1);
        }
        50% {
          -webkit-transform: scale(1.2);
        }
        100% {
          -webkit-transform: scale(1);
        }
      }
      
      /* sun animation source: https://blog.avada.io/css/weather-icons/#css-weather-icons-benjamin-grant */
      @-moz-keyframes sunEffect {
        0% {
          -moz-transform: scale(1);
        }
        50% {
          -moz-transform: scale(1.2);
        }
        100% {
          -moz-transform: scale(1);
        }
      }
      
      /* sun animation source: https://blog.avada.io/css/weather-icons/#css-weather-icons-benjamin-grant */
      @-o-keyframes sunEffect {
        0% {
          -o-transform: scale(1);
        }
        50% {
          -o-transform: scale(1.2);
        }
        100% {
          -o-transform: scale(1);
        }
      }


    /* cloudy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .cloudy {
        animation: cloudy 5s ease-in-out infinite;
        background: #FFFFFF;
        border-radius: 50%;
        box-shadow: 
            #FFFFFF 65px -15px 0 -5px, 
            #FFFFFF 25px -25px, 
            #FFFFFF 30px 10px, 
            #FFFFFF 60px 15px 0 -10px, 
            #FFFFFF 85px 5px 0 -5px;
        height: 50px;
        width: 50px; 
        position: relative;
        left: 0%;
    }

    /* cloudy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .cloudy:after {
        animation: cloudy_shadow 5s ease-in-out infinite;
        background: #000000;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 5px; 
        bottom: -60px;
      transform: scale(1);
    }

    /* cloudy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes cloudy {
        50% { transform: translateY(-20px); }
    }

    /* cloudy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes cloudy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity:.05; }
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .rainy {
        animation: rainy 5s ease-in-out infinite 1s;
        background: #CCCCCC; 
        border-radius: 50%;
        box-shadow: 
            #CCCCCC 65px -15px 0 -5px, 
            #CCCCCC 25px -25px, 
            #CCCCCC 30px 10px, 
            #CCCCCC 60px 15px 0 -10px, 
            #CCCCCC 85px 5px 0 -5px;
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        left: 0%;
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .rainy:after {
        animation: rainy_shadow 5s ease-in-out infinite 1s;
        background: #000000;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 5px; 
        bottom: -60px;
        transform: scale(1);
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .rainy:before {
        animation: rainy_rain .7s infinite linear;
        content: '';
        background: #CCCCCC;
        border-radius: 50%;
        display: block;
        height: 6px;
        width: 3px;
        opacity: 0.3;
        transform: scale(.9);
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes rainy {
        50% { transform: translateY(-20px); }
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes rainy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }

    /* rain animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes rainy_rain {
        0% {  
            box-shadow: 
                rgba(0,0,0,0) 30px 30px, 
                rgba(0,0,0,0) 40px 40px,  
                #000 50px 75px, 
                #000 55px 50px, 
                #000 70px 100px, 
                #000 80px 95px, 
                #000 110px 45px, 
                #000 90px 35px; 
        }
        25% {  
              box-shadow: 
                #000 30px 45px,
                #000 40px 60px,
                #000 50px 90px,
                #000 55px 65px,
                rgba(0,0,0,0) 70px 120px,
                rgba(0,0,0,0) 80px 120px,
                #000 110px 70px,
                #000 90px 60px;
        }
        26% {  
            box-shadow:
                #000 30px 45px,
                #000 40px 60px,
                #000 50px 90px,
                #000 55px 65px,
                rgba(0,0,0,0) 70px 40px,
                rgba(0,0,0,0) 80px 20px,
                #000 110px 70px,
                #000 90px 60px; 
        }
        50% { 
            box-shadow:
                #000 30px 70px,
                #000 40px 80px,
                rgba(0,0,0,0) 50px 100px,
                #000 55px 80px,
                #000 70px 60px,
                #000 80px 45px,
                #000 110px 95px,
                #000 90px 85px;
        }
        51% {
            box-shadow:
                #000 30px 70px,
                #000 40px 80px,
                rgba(0,0,0,0) 50px 45px,
                #000 55px 80px,
                #000 70px 60px,
                #000 80px 45px,
                #000 110px 95px,
                #000 90px 85px;
        }
        75% {
            box-shadow:
                #000 30px 95px,
                #000 40px 100px,
                #000 50px 60px,
                rgba(0,0,0,0) 55px 95px,
                #000 70px 80px,
                #000 80px 70px,
                rgba(0,0,0,0) 110px 120px,
                rgba(0,0,0,0) 90px 110px;
        }
        76% {
            box-shadow:
                #000 30px 95px,
                #000 40px 100px,
                #000 50px 60px,
                rgba(0,0,0,0) 55px 35px,
                #000 70px 80px,
                #000 80px 70px,
                rgba(0,0,0,0) 110px 25px,
                rgba(0,0,0,0) 90px 15px;
        }
        100% {
            box-shadow:
                rgba(0,0,0,0) 30px 120px,
                rgba(0,0,0,0) 40px 120px,
                #000 50px 75px,
                #000 55px 50px,
                #000 70px 100px,
                #000 80px 95px,
                #000 110px 45px,
                #000 90px 35px;
        }
    }

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .stormy {
        animation: stormy 5s ease-in-out infinite;
        background: #222222;
        border-radius: 50%;
        box-shadow: 
            #222222 65px -15px 0 -5px, 
            #222222 25px -25px, 
            #222222 30px 10px, 
            #222222 60px 15px 0 -10px, 
            #222222 85px 5px 0 -5px;
        height: 50px;  
        width: 50px; 
        position: relative;
        left: 0%;
    }

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .stormy:after {
        animation: stormy_shadow 5s ease-in-out infinite;
        background: #000;
        border-radius: 50%;
        content: '';
        height: 15px; 
        width: 120px; 
        opacity: 0.2;
        position: absolute;
        left: 5px; 
        bottom: -60px;
        transform: scale(1);
    }

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .stormy:before {
        animation: stormy_thunder 2s steps(1, end) infinite; 
        border-left: 0px solid transparent;
        border-right: 7px solid transparent;
        border-top: 43px solid yellow; 
        box-shadow: yellow -7px -32px;
        content: '';
        display: block;
        height: 0;
        width: 0;
        position: absolute;
        left: 57px;
        top: 70px;
        transform: rotate(14deg);
        transform-origin: 50% -60px;
    }

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes stormy {
        50% { transform: translateY(-20px); } 
    }  

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes stormy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }

    /* stormy animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes stormy_thunder {
        0%  { transform: rotate(20deg); opacity:1; }
        5%  { transform: rotate(-34deg); opacity:1; }
        10% { transform: rotate(0deg); opacity:1; }
        15% { transform: rotate(-34deg); opacity:0; }
    }


    /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .snowy {
        animation: snowy 5s ease-in-out infinite 1s;
        background: #FFFFFF; 
        border-radius: 50%;
        box-shadow: 
            #FFFFFF 65px -15px 0 -5px, 
            #FFFFFF 25px -25px, 
            #FFFFFF 30px 10px, 
            #FFFFFF 60px 15px 0 -10px, 
            #FFFFFF 85px 5px 0 -5px;
        display: block;
        height: 50px;
        width: 50px;
        position: relative;
        left: 0%;
    }

     /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .snowy:after {
        animation: snowy_shadow 5s ease-in-out infinite 1s;
        background: #000000;
        border-radius: 50%;
        content: '';
        height: 15px;
        width: 120px;
        opacity: 0.2;
        position: absolute;
        left: 8px;
        bottom: -60px;
        transform: scale(1);
    }

     /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    .snowy:before {
        animation: snowy_snow 2s infinite linear;
        content: '';
        border-radius: 50%;
        display: block;
        height: 7px;
        width: 7px;
        opacity: 0.8;
        transform: scale(.9);
    }

     /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes snowy {
        50% { transform: translateY(-20px); }
    }

     /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes snowy_shadow {
        50% { transform: translateY(20px) scale(.7); opacity: 0.05; }
    }

     /* snow animation source: https://codepen.io/_fbrz/pen/iqtlk */
    @keyframes snowy_snow {
        0% {  
            box-shadow: 
                rgba(238,238,238,0) 30px 30px, 
                rgba(238,238,238,0) 40px 40px,  
                #EEEEEE 50px 75px, 
                #EEEEEE 55px 50px, 
                #EEEEEE 70px 100px, 
                #EEEEEE 80px 95px, 
                #EEEEEE 110px 45px, 
                #EEEEEE 90px 35px; 
        }
        25% {  
              box-shadow: 
                #EEEEEE 30px 45px,
                #EEEEEE 40px 60px,
                #EEEEEE 50px 90px,
                #EEEEEE 55px 65px,
                rgba(238,238,238,0) 70px 120px,
                rgba(238,238,238,0) 80px 120px,
                #EEEEEE 110px 70px,
                #EEEEEE 90px 60px;
        }
        26% {  
            box-shadow:
                #EEEEEE 30px 45px,
                #EEEEEE 40px 60px,
                #EEEEEE 50px 90px,
                #EEEEEE 55px 65px,
                rgba(238,238,238,0) 70px 40px,
                rgba(238,238,238,0) 80px 20px,
                #EEEEEE 110px 70px,
                #EEEEEE 90px 60px; 
        }
        50% { 
            box-shadow:
                #EEEEEE 30px 70px,
                #EEEEEE 40px 80px,
                rgba(238,238,238,0) 50px 100px,
                #EEEEEE 55px 80px,
                #EEEEEE 70px 60px,
                #EEEEEE 80px 45px,
                #EEEEEE 110px 95px,
                #EEEEEE 90px 85px;
        }
        51% {
            box-shadow:
                #EEEEEE 30px 70px,
                #EEEEEE 40px 80px,
                rgba(238,238,238,0) 50px 45px,
                #EEEEEE 55px 80px,
                #EEEEEE 70px 60px,
                #EEEEEE 80px 45px,
                #EEEEEE 110px 95px,
                #EEEEEE 90px 85px;
        }
        75% {
            box-shadow:
                #EEEEEE 30px 95px,
                #EEEEEE 40px 100px,
                #EEEEEE 50px 60px,
                rgba(238,238,238,0) 55px 95px,
                #EEEEEE 70px 80px,
                #EEEEEE 80px 70px,
                rgba(238,238,238,0) 110px 120px,
                rgba(238,238,238,0) 90px 110px;
        }
        76% {
            box-shadow:
                #EEEEEE 30px 95px,
                #EEEEEE 40px 100px,
                #EEEEEE 50px 60px,
                rgba(238,238,238,0) 55px 35px,
                #EEEEEE 70px 80px,
                #EEEEEE 80px 70px,
                rgba(238,238,238,0) 110px 25px,
                rgba(238,238,238,0) 90px 15px;
        }
        100% {
            box-shadow:
                rgba(238,238,238,0) 30px 120px,
                rgba(238,238,238,0) 40px 120px,
                #EEEEEE 50px 75px,
                #EEEEEE 55px 50px,
                #EEEEEE 70px 100px,
                #EEEEEE 80px 95px,
                #EEEEEE 110px 45px,
                #EEEEEE 90px 35px;
        }
    }


