<!DOCTYPE html>
<html lang="en">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successful</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/teeRificLogo.png}" width="150" height="100"/>
                Booking Successful
                <form method="get" action="/tee-rific/home">
                    <button type="submit" class = "button">Home Page</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>