<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tournament</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/tee-rific.png}" width="150" height="100"/>
                <h1>Create Tournament</h1>
                <form action="#" method="post" th:action="@{/createTournament}" th:object="${tournament}">
                    Tournament Name = <input type="text" th:field=*{name}> <br>
                    <input type="submit" class = "button" value="Create Tournament">
                </form>
            </div>
        </div>
     </div>
</body>
</html>