<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Tournament</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/tee-rific.png}" width="150" height="100"/>
                <h1>Create Tournament</h1>
                <form action="#" method="post" th:action="@{/tee-rific/createTournament}" th:object="${newTournament}">
                    <input type="text" class="inputBox" th:field="*{name}" placeholder="Tournament Name"> <br>
                    <input type="number" class="inputBox" th:field="*{participantSlots}" placeholder="Participant Slots"> <br>
                    $<input type="number" class="inputBox" th:field="*{buyIn}" placeholder="Buy In Price"> (optional) <br>
                    <input type="text" class="inputBox" th:field="*{firstPrize}" placeholder="First Place Prize"> (optional)<br>
                    <input type="text" class="inputBox" th:field="*{secondPrize}" placeholder="Second Place Prize"> (optional)<br>
                    <input type="text" class="inputBox" th:field="*{thirdPrize}" placeholder="Third Place Prize"> (optional)<br>
                    <select class ="inputbox" th:field="*{gameMode}">
                        <option value ="individual par points">Individual Par Points</option>
                        <option value = "hidden partner par points">Hidden Partner Par Points</option>
                        <option value = "individual best net">Individual Best Net</option>
                        <option value = "hidden partner best net">Hidden Partner Best Net</option>
                        <option value = "hidden partner odds and evens">Hidden Partner Odds and Evens</option>
                        <option value = "scramble">Scramble</option>
                        <option value = "skins">Skins</option>
                        <option value = "best ball">Best Ball</option>
                    </select> <br>
                    <input type="submit" class = "button" value="Create Tournament">
                </form>
            </div>
        </div>
     </div>
     <footer>
        <div class= "woodBackdrop footer">
            <i class="socialIcon fab fa-facebook-f"></i>
            <i class="socialIcon fab fa-twitter"></i>
            <i class="socialIcon fab fa-instagram"></i>
            <i class="socialIcon fas fa-envelope"></i>
            <p>© Copyright 2021 Tee-rific</p>
          </div>
          <script src="/js/buttonEffect.js" type="text/javascript"> </script>
    </footer>
</body>
</html>