<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/tee-rific.png}" width="150" height="100"/>
                <h1>Homepage</h1>
                <form method="get" action="/tee-rific/booking">
                    <button type="submit" class = "button"> &#128339; Book Tee-Time &#128339; </button>
                </form> <br>

                <form method="get" action="/tee-rific/scorecard">
                    <button type="submit" class = "button">Scorecard(s)</button>
                </form> <br>

                <form method="get" action="/tee-rific/tournament">
                    <button type="submit" class = "button">&#127942; Tournaments &#127942;</button>
                </form> <br>

                <form method="get" action="/tee-rific/userProfile">
                    <button type="submit" class = "button">My Account</button>
                </form> <br>
                
                <form method="get" action="/tee-rific/aboutUs">
                    <button type="submit" class = "button">About Us</button>
                </form> <br>

                <form method="get" action="/tee-rific/logout">
                    <button type="submit" class = "button">&#8617; Log Out &#8617;</button>
                </form>
            </div>
        </div>
    </div>

    <!-- start of delete after decision -->

    <!-- <div class="spacer"></div>
    <div class="spacer"></div>
    <a href="https://colorhunt.co">Other Color Scheme Options</a>
    <div class="spacer"></div>
    <div class="spacer"></div>
   
   <div class="spacer"></div>
   <div class="spacer"></div>
   <div class="spacer"></div>
   <div class="spacer"></div>

    <div class="layer_5"> -->
        <!-- <div class="layer_6">
            <div class="layer_7">
                <div class="layer_8">
                    Color Scheme
                </div>
            </div>
        </div> -->
   <!-- </div> -->

   <!-- <div class="spacer"></div>

   <div class="layer_8">
        <div class="layer_7">
            <div class="layer_6">
                <div class="layer_5">
                    Color Scheme Reversed
                </div>
            </div>
        </div>
    </div> -->

   <!-- end of delete after decision -->

</body>
</html>