<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
    <title>Home Page</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <h1>Homepage</h1> 
                <form method="get" action="/tee-rific/booking">
                    <button type="submit" class = "button">Book Tee-Time</button>
                </form>

                <form method="get" action="/tee-rific/scorecard">
                    <button type="submit" class = "button">Scorecard(s)</button>
                </form>
                
                <form method="get" action="/tee-rific/aboutUs">
                    <button type="submit" class = "button">About Us</button>
                </form>

                <form method="get" action="/tee-rific/logout">
                    <button type="submit" class = "button">Log Out</button>
                </form>
            </div>
        </div>
    </div>

    <!-- start of delete after decision -->

    <!-- <div class="spacer"></div>
    <div class="spacer"></div>
    <a href="https://colorhunt.co">Other Color Scheme Options</a>
    <div class="spacer"></div>
    <div class="spacer"></div>
   
   <div class="spacer"></div>
   <div class="spacer"></div>
   <div class="spacer"></div>
   <div class="spacer"></div>

    <div class="layer_5"> -->
        <!-- <div class="layer_6">
            <div class="layer_7">
                <div class="layer_8">
                    Color Scheme
                </div>
            </div>
        </div> -->
   <!-- </div> -->

   <!-- <div class="spacer"></div>

   <div class="layer_8">
        <div class="layer_7">
            <div class="layer_6">
                <div class="layer_5">
                    Color Scheme Reversed
                </div>
            </div>
        </div>
    </div> -->

   <!-- end of delete after decision -->

</body>
</html>