<!DOCTYPE html>
<html lang="en">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Logout Successful</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <h1>You have successfully been logged out</h1>

                <form method="get" action="/tee-rific/login">
                    <button type="submit" class = "button">Login</button>
                </form>
            </div>
        </div>
     </div>
</body>
</html>