<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores History</title>
</head>
<body>
    Scores History
    <form method="get" action="/tee-rific/scorecard">
        <button type="submit">Go Back</button>
    </form>

    <form method="get" action="/tee-rific/home">
        <button type="submit">Home Page</button>
    </form>
</body>
</html>