<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns="http://www.w3.org/1999/xhtml">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<script src="/signup.js" defer> </script>
<head>
    <meta charset="UTF-8">
    <title>Sign-Up</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/teeRificLogo.png}" width="150" height="100"/>
                <h1>Sign Up</h1>
                <p>Please fill in this form to create an account.</p>
                <form onkeydown="checkInput()" action="#" method="post" th:action="@{/tee-rific/signup}" th:object="${newUser}">
                    <p>Username:</p><input type="text" th:field="*{username}" placeholder="Username"> <br>
                    <p>Password:</p><input type="password" name = "password1" th:field="*{password}" placeholder="Password"> <br>
                    <p>Confirm Password:</p><input type="password" name = "password2" placeholder="Confirm Password"> <br>
                    <p>First Name:</p><input type="text" th:field="*{fname}" placeholder="First Name"> <br>
                    <p>Last Name:</p><input type="text" th:field="*{lname}" placeholder="Last Name"> <br>
                    <p>Email:</p><input type="text" th:field="*{email}" placeholder="Email"> <br>
                    <p>Gender:</p><select th:field="*{gender}">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                        <option value="Other">Other</option>
                                        <option value="Prefer not to Disclose">Prefer not to Disclose</option>
                                    </select> <br><br>
                    <input type="submit" class = "button" value="Create new Account">
                </form>
            </div>
        </div>
     </div>
</body>
</html>