<!DOCTYPE html>
<html lang="en">
<link th:href="@{/styles.css}" type="text/css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Account Created</title>
</head>
<body>
    <div class="layer_6">
        <div class="layer_7">
            <div class="layer_8">
                <img th:src="@{/images/teeRificLogo.png}" width="150" height="100"/>
                <!-- Welcome to TEE-RIFIC "username"! -->
                <h2>Your Account has been Created, <br> Welcome to TEE-RIFIC!</h2>

                <form method="get" action="/tee-rific/home">
                    <button type="submit" class = "button">Go to the Home Page</button>
                </form>
            </div>
        </div>
     </div>
</body>
</html>